<!--templates/time_feed.html-->
<!--templates/index.html-->
<html>
    <head>
      <p><button>Button</button></p>
    
    <p id="clock">{{now}}</p>
    <p>Date/Time: <span id="datetime"></span></p>

    <script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
    </script>
   
   <script type="text/javascript" src="static/clock.js"></script>
   <script type="text/javascript" src="static/temp.js"></script>
  
</head>
  <body onLoad="TimeRender();">
    <div id="clockDisplay" class="container"></div>
  </body>
  <body onLoad="temp();">
    <div id="temp" class="container"></div>
  </body>
  
  
   </html>